body{
    background-color:#FFF;
    border: 20px solid darkslategray;
    border-width: 5px 20px;
}
ul li{
    margin: 1.5px;
    color: dimgray;
    font-size: 16px;
}
.hr-dashed{
    height:1px;
    border:none;
    border-top:1px dashed;
}
a{
    text-decoration: none;
}
.hiddend{
    display: none;
}
.hidden-doubleon{
    /*cursor:pointer;*/
}
.new{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.dead-text{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    opacity: 0.3;
    cursor:help;
}
.comment{
    font-size: 13px;
    padding-left: 10px;
    opacity: 0.6;
}
.comment:hover{
    color: red;
    cursor: default;
    opacity: 1;
}
#z1{
    display: none;
}
#z2{
    display: '';
}
#z3{

}
#z4{
    display: 'none';
    opacity: 1;
}